{# Components override for Toucan theme #}

{# === NAV === #}
{% component toucan.nav(current_path: string = "") %}
{% set index = get_section(path="_index.md") %}
{% for s in index.subsections %}{% set subsection = get_section(path=s) %}<a href="{{ subsection.permalink }}"
    {% if current_path and current_path is starting_with(pat=subsection.path) %}class="active"{% endif %}>
    {{subsection.title}}
</a>{% endfor %}
<a href="{{ get_url(path="tags/") }}"{% if current_path and current_path is starting_with(pat="/tags") %} class="active"{% endif %}>Tags</a>
{% endcomponent toucan.nav %}

{# === TAGS === #}
{% component toucan.tags(tags) %}
{% for tag in tags %}
<span class="tag">{{ tag }}</span>
{% endfor %}
{% endcomponent toucan.tags %}

{# === FEED === #}
{% component toucan.feed(feed) %}
{% for article in feed %}
  <a href="{{ article.permalink }}" class="feed-link">
    <div>
      <div class="date">{{ article.date }}</div>
      <h3>{{ article.title }}</h3>
      <p>
        {% if article.description %}
          {{ article.description | truncate(length=300) }}
        {% else %}
          {{ article.content | safe | striptags | truncate(length=300) }}
        {% endif %}
      </p>
    </div>
  </a>
{% endfor %}
{% endcomponent toucan.feed %}

{# === KATEX === #}
{% component toucan.katex() %}
<link rel="stylesheet" href="{{ get_url(path="katex.css") }}">
<script defer src="{{ get_url(path="katex.js") }}"></script>
<script defer src="{{ get_url(path="auto-render.js") }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
              {left: "££", right: "££", display: true},
              {left: "$", right: "$", display: false},
            ]
        });
    });
</script>
{% endcomponent toucan.katex %}

{# === NOTE === #}
{% component note(display: string = "both", type: string = "neutral", size: string = "small", markdown: bool = false) %}
<div class="note
{%- if display == 'icon' %} note-icon note-icon-{{size}} note-icon-{{type}}
{%- elif display == 'block' %} note-block note-{{type}}
{%- elif display == 'both' %} note-icon note-icon-{{size}} note-icon-{{type}} note-block note-{{type}}
{%- endif %}">
{% if markdown %}{{ body | markdown | safe }}
{% else %}{{ body | safe }}
{% endif %}
</div>
{% endcomponent note %}
