{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block main %}
{% if section.content %}
<article class="content">
    {{ section.content | safe }}
</article>
{% endif %}

{% if paginator is defined %}
    {% set posts = paginator.pages %}
{% else %}
    {% set posts = section.pages %}
{% endif %}

{% if posts %}
<div class="posts">
{% for page in posts %}
<article class="post">
    <header>
        <h2 class="post-title">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h2>
        <ul class="post-meta">
            {% if page.draft %}
            <li class="draft-label">DRAFT</li>
            {% endif %}
            <li>
                <time datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
            </li>
            {% if page.reading_time %}
            <li role="separator" aria-hidden="true">::</li>
            <li>{{ page.reading_time }} min read</li>
            {% endif %}
        </ul>
        {% if page.taxonomies and page.taxonomies.tags %}
        <div class="post-tags">
            {% for tag in page.taxonomies.tags %}
            {% set tag_url = get_taxonomy_url(kind="tags", name=tag, lang=lang) %}
            <span>#<a href="{{ tag_url | safe }}">{{ tag }}</a></span>
            {% endfor %}
        </div>
        {% endif %}
    </header>

    {% if page.description %}
    <p>{{ page.description | markdown(inline=true) | safe }}</p>
    {% elif page.summary %}
    <p>{{ page.summary | safe }}</p>
    {% endif %}

    <a class="read-more" href="{{ page.permalink | safe }}">read more →</a>
</article>
{% endfor %}
</div>

{% include "partials/pagination.html" %}
{% endif %}
{% endblock main %}
